.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: #222; /* Dark background */
  color: white;
}

.logo {
  display: flex;
  align-items: center;
}

.logo-img {
  height: 50px; /* Adjust based on logo size */
  width: auto;
  margin-right: 15px;
}

.nav-links {
  list-style-type: none;
  display: flex;
  gap: 20px;
}

.nav-links li {
  text-transform: uppercase;
}

.nav-links a {
  color: white;
  text-decoration: none;
}

.nav-links a:hover {
  color: #ddd; /* Hover effect */
}

.wallet-connect {
  display: flex;
  align-items: center;
}
